* {
  background-color: black;
  color: white;
  font-size: 28px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu Mono", monospace;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

#board {
  width: 1920px;
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 40px;
}

#gallows {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

#alphabet {
  margin: 10px;
  padding: 10px;
  width: 1000px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100% / 4);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.letter {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border: 3px solid slateblue;
  cursor: pointer;
  border-radius: 25%;
}

.letter:hover {
  border: 3px solid white;
}

button {
  border: 3px solid slateblue;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  border: 3px solid white;
}

@media only screen and (max-width: 1760px) {
  #alphabet {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 1570px) {
  #alphabet {
    max-width: calc(200% / 7);
  }
}

@media only screen and (max-width: 1200px) {
  #alphabet {
    max-width: calc(300% / 8);
  }
}

@media only screen and (max-width: 860px) {
  #alphabet {
    max-width: calc(300% / 6);
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 22px;
  }
  #alphabet {
    max-width: calc(500% / 8);
  }
  .letter {
    width: 40px;
    height: 40px;
  }
  #board {
    margin: 50px 40px 50px 40px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 460px) {
  #board {
    margin: 50px 30px 50px 30px;
  }
  img {
    width: 300px;
    height: auto;
  }
  #alphabet {
    max-width: calc(500% / 6);
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 16px;
  }

  #alphabet {
    max-width: calc(500% / 7);
    height: 200px;
  }

  .letter {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  main {
    gap: 0;
  }

  #board {
    font-size: 22px;
    margin: 30px 10px 30px 10px;
  }
}

@media only screen and (max-width: 300px) {
  #alphabet {
    max-width: calc(700% / 7);
  }
  img {
    width: 200px;
    height: auto;
  }
  .letter {
    margin: 2px;
  }
}
